html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}